<footer class="footer">
    <div class="container text-center">
      <p>© 2024 PetShop. Todos os direitos reservados.</p>
      <p>
        <a href="#" class="me-3">Política de Privacidade</a>
        <a href="#" class="me-3">Termos de Uso</a>
        <a href="#" class="">Contato</a>
      </p>
      <div class="social-icons">
        <a href="#"><img src="../images/facebook.svg" alt="Facebook" class="me-2"></a>
        <a href="#"><img src="../images/instagram.svg" alt="Instagram" class="me-2"></a>
        <a href="#"><img src="../images/threads.svg" alt="Threads"></a>
      </div>
    </div>
  </footer>